# Stripe keys
STRIPE_PUBLISHABLE_KEY=pk_test_51PEU5ySBhycEZwSGD19IcimrJ3sDbv5j6QJCmPC9NoHqdoHQLKJqmycCUc5RWK60yNknhgedB2Hibg1gcIUIbWHP00Cu0yLfmF
STRIPE_SECRET_KEY=sk_test_51PEU5ySBhycEZwSGa3ktac3flelQFhCYsegpNaQmr39Xi5jJuFqUTWfC39cDoULqFU2sgNOo0lbn6Svg3vQu4Uhq00cTZbmGhb
STRIPE_WEBHOOK_SECRET=whsec_1234

# Environment variables
STATIC_DIR=../client
DOMAIN=http://localhost:4242
PORT=3000

CI=false
CHALLENGE_ID=central-tan-guanaco
